
@{
    ViewData["Title"] = "login";
}

<h2>login</h2>

<form action="/Account/Login" method="post">
    <input type="txt" name="Username" value="ale@hotmail.com" />

    <input type="submit" name="btnIngresar" class="btn btn-danger" value="Ingresar" />

</form>